---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const data = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  
type Acc = {
  [year: string]: CollectionEntry<"blog">[];
}

const posts = data.reduce((acc: Acc, post) => {
    const year = post.data.date.getFullYear().toString();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  }, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a)); 
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <div class="space-y-10 pt-8 md:pt-16">
    <div>
      <h2 class="font-serif text-2xl font-bold mb-2">Writing</h2>
      <p class="text-paper-muted">{BLOG.DESCRIPTION}</p>
    </div>
    <div class="space-y-8">
      {years.map(year => (
        <section class="space-y-2">
          <h3 class="font-serif text-lg font-medium text-paper-muted">
            {year}
          </h3>
          <div>
            {posts[year].map((post) => (
              <ArrowCard entry={post} />
            ))}
          </div>
        </section>
      ))}
    </div>
  </div>
</PageLayout>
